<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-10 mx-auto d-flex">

        <div class="justify-content-start">
          <a href="https://www.alonintheworld.com">
            <img src="{{site.url}}{{site.baseurl}}/images/alonintheworld.png">
            אלון רותם
          </a>
        </div>

        <div class="justify-content-end ml-auto">
          <!-- W3Counter Tracking Code -->
          <script src='https://www.w3counter.com/tracker.js' type='text/javascript'></script>
          <script type='text/javascript'>
          /*<!--*/
          w3counter(13998);
          /*-->*/
          </script>   
        </div>

      </div>
    </div>
  </div>
</footer>