<!doctype html>
<html lang="he" dir="rtl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  	<link rel="stylesheet" href="{{site.url}}{{site.baseurl}}/styles/bootstrap.min.css" integrity="sha384-JvExCACAZcHNJEc7156QaHXTnQL3hQBixvj5RV5buE7vgnNEzzskDtx9NQ4p6BJe" crossorigin="anonymous">
    <link rel="stylesheet" href="{{site.url}}{{site.baseurl}}/styles/yanivd.css">
    <link href="{{site.url}}{{site.baseurl}}/images/favicon.ico" rel='icon' type='image/x-icon'/>  
    <title>יניב דויטש: קוסם שקורא מחשבות</title>

    <meta property="og:title" content="יניב דויטש: קוסם שקורא מחשבות" />
    <meta property="og:description" content="יניב דויטש לא מסוגל לקרוא מחשבות, אבל הוא מסוגל לגרום לכם להיות בטוחים שהוא מסוגל לקרוא מחשבות" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{site.url}}{{site.baseurl}}/images/newpic-cut.jpg" />
  </head>
  <body>
    <div class="container-fluid h-100">
      <div class="row h-100">
        <div class="col-lg-9 col-md-10 .col-sm-12 mx-auto main-container px-5">

          <!--<div class="row"><div class="col-10 mx-auto">-->
          {% include header.html %}
  
          {% include nav.html %}

          <div class="mt-lg-5 mt-md-3">

            {{ content }}
          </div>
        <!--</div></div>-->

        </div>
      </div>
    </div>
    {% include footer.html %}

    <script src="{{site.url}}{{site.baseurl}}/scripts/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	  <script src="{{site.url}}{{site.baseurl}}/scripts/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	  <script src="{{site.url}}{{site.baseurl}}/scripts/bootstrap.bundle.min.js" integrity="sha384-40ix5a3dj6/qaC7tfz0Yr+p9fqWLzzAXiwxVLt9dw7UjQzGYw6rWRhFAnRapuQyK" crossorigin="anonymous"></script> 
  </body>
</html>